.tieu-de {
    width: 100%;
    margin-top: 2%;
}
.a {
    text-align: center;
    margin-top: 15%;
}
.a p {
	text-align: justify;
}
.cae {
    padding: 25px 100px 70px 100px;
    margin: 0!important;

}
.cuoi {
	margin: 1% 0;
}
.tieu-de div h1 {
	padding-left: 175px;
	margin-top: -30px;
    font-weight: bold;
    font-size: 32px;
}
.tieu-de div h1 img {
	margin-left: -235px;
	position: absolute;
}
.tieu-de div p {
	margin-top: 20px;
}


.platform {
    background-color: #cccccc78;
}
.download {
    margin-top: 1%;
}
.noi-dung {
    max-width: 1000px;
    text-align: center;
    margin-bottom: 6%;
}

.download {
    background-color: #fff;
}
.bt {
    margin : 10px;
    margin-left: 11%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
}
.pt {
    margin-top: 10px;
    margin-bottom: 8%;
}
.pt button:hover {
    background-color: #818182b0;
}
.er {
    padding: 16px 38px;
}
.mt {
    width: 87%;
    height: 40%;
}
.foo {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-top: -5%;
}
.foo center a {
    color: #6c757d; 
}
.tieu-de-dl {
    width: 100%;
    background-color: #fff;
    padding-bottom: 4%;
    margin-top: -20px;
} 
.tieu-de-dl div h1 {
    padding-left: 175px;
    margin-top: -30px;
    font-weight: bold;
    font-size: 32px;
}
.tieu-de-dl div h1 img {
    margin-left: -235px;
    position: absolute;
}
.tieu-de-dl div p {
    margin-top: 20px;
}
.noi-dung .download .row .col-md-6 h2 {
    margin-top: 30px;
}
.noi-dung .download .row .col-md-6 ul {
    text-align: left;
    color: #67737f;
}
.chu {
    color: #008FF3;
    margin-left: 10px;
    margin-bottom: 10px;
}


.he-lp {
    max-width: 1000px;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 10%;
}
.drop-down .dropdown-menu p {
    text-align: left;
    margin-left: 45px;
    padding: 5px;
}
.sidenav div a {
    color: #867979;
}
.drop-down a {
    margin-top: 10px;
}
.chb a {
    color: #867979;
}
.c-n {
    margin-top: 5%;
}
.chb {
    margin-top: 10%;
}
.td {
    margin: 10px 0 0 325px;
}

.about h2 {
    font-size: 1.875em;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 1.2em;
    margin-bottom: .6em;
}

.about {
    padding: 0 150px!important;
}

.main {
    overflow-x: hidden;
}