.tieu-de {
    width: 100%;
    margin-top: 2%;
}
.a {
    text-align: center;
    margin-top: 15%;
}
.a p {
	text-align: justify;
}
.cae {
    padding: 25px 100px 70px 100px;
    margin: 0!important;

}
.cuoi {
	margin-bottom: 2%;
}
.tieu-de div h1 {
	padding-left: 175px;
	margin-top: -30px;
    font-weight: bold;
    font-size: 32px;
}
.tieu-de div h1 img {
	margin-left: -235px;
	position: absolute;
}
.tieu-de div p {
	margin-top: 20px;
}