body {
    overflow-x: hidden;
}
.row {
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
}
.log-sig {
    margin-top: -3%;
}
.img1 {
    margin-top: 3%
}
.word1 {
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-weight: 300;
    margin: 8px;
}
.word2 {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 24px;
}
.word2 a {
    font-weight: 400;
}
.text1 {
    width: 335px;
    border: 1px solid rgba(0, 0, 0, .20);
    display: block;
    font-size: 17px;
    height: 42px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}
.sub {
    background: #fff;
    color: #0084ff;
    font-size: 24px;
    font-weight: normal;
    margin: 5px;
    border: none;
    overflow: hidden;
}
.sub:hover {
    background-color: #ccc;
}
.text2 {
    color: #a8a8a8;
    margin-bottom: 16px;
    font-size: 11px;
    margin-top: 15%;
}
.text2 a {
    color: #a8a8a8;
}
.text2 span {
    margin: 0 14px;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    margin-left: 43%;
    border-radius: 5px;
}
.checkbox:hover input~.checkmark {
    background-color: #ccc;
}
.checkbox input:checked~.checkmark {
    background-color: #2196F3;
}
.checkbox input:checked~.checkmark:after {
    display: block;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox input {
    opacity: 0;
}
.checkbox label {
    color: #929292;
}
.log label {
    margin-left: -265px;
}
.inputGender {
    padding-left: 100px;
    margin-bottom: 10px;
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 435px;
    top: 4px;
}
.form-horizontal .form-group {
    margin-bottom: 0;
}
input {
    outline: none;
}
.text3 {
    color: #a8a8a8;
    margin-bottom: 16px;
    font-size: 11px;
    margin-top: 5%;
}
.text3 a {
    color: #a8a8a8;
}
.text3 span {
    margin: 0 14px;
}
.form-group label {
    margin-left: -23%;
}
.spinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #eee;
    left: 50%;
    top: 370px;
    transform: translate(-50%, -50%);
    display: none;
    margin-top: 30px;
}
.spinner:after, .spinner:before {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .spinner:after {
        position: absolute;
        top: -5px;
        left: -5px;
        border: 5px solid transparent;
        border-top-color: #0084ff;
        animation: spin 0.8s linear infinite;
    }
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.errorLogin {
    margin-top: -15px;
    margin-right: 75px;
    color: red;
}